[color]
  diff = auto
  status = auto
  branch = auto

[branch]
  autosetupmerge = true

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
  unstage = reset HEAD --
  timeline = log --pretty=format:'%h was %an, %ar, message: %s' --graph origin/master 
# GITLOCAL
